In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns ; sns.set()
import warnings 
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('HR-Employee-Attrition.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [4]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [5]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [4]:
df.drop(["StandardHours", "EmployeeCount","EmployeeNumber"],axis=1,inplace=True)
df["Attrition"].replace({"Yes" : 1, "No" : 0},inplace=True)
plt.figure(figsize=(20,18))
sns.heatmap(df.corr(),annot=True);

NameError: name 'df' is not defined

In [ ]:
sns.countplot(x=df["Attrition"])
plt.xticks([0,1],["No","Yes"]);

In [ ]:
df.corr()["Attrition"].abs().sort_values(ascending=False).iloc[1:].head(10)

In [ ]:
sns.distplot(df["DistanceFromHome"],kde=False)
median_dis = df["DistanceFromHome"].median()
plt.axvline(median_dis,c="r",label="Median")
plt.title("Distribution of Distance")
plt.legend()
plt.show()

In [ ]:
sns.catplot(x="Attrition",y="DistanceFromHome",data=df)
plt.xticks([0,1],["No","Yes"])
plt.show()

In [ ]:
sns.catplot(x="JobLevel",kind="count",col="Attrition",data=df)

In [ ]:
sns.distplot(df["TotalWorkingYears"],kde=False)
mean_wr = df["TotalWorkingYears"].mean()
plt.axvline(mean_wr,c="r",label="Mean")
plt.legend()
plt.show()

In [ ]:
sns.distplot(df["MonthlyIncome"],kde=False)
mean_inc = df["MonthlyIncome"].mean()
plt.axvline(mean_inc,c="r",label="Mean Income")
plt.legend()
plt.show()

In [ ]:
sns.catplot(x="JobLevel",y="MonthlyIncome",data=df)
plt.title("Job level on monthly income")
plt.show()

In [ ]:
corr = df.corr().loc["MonthlyIncome","TotalWorkingYears"]
plt.scatter(df["MonthlyIncome"],df["TotalWorkingYears"],label=f"Corr : {corr}")
plt.title("Is there any correlation between total working years and income? ")
plt.xlabel("Income")
plt.ylabel("Total Working Years")
plt.legend()
plt.show()

In [ ]:
corr2 = df.corr().loc["MonthlyIncome","Age"]
plt.scatter(df["MonthlyIncome"],df["Age"],c="g",label=f"Corr : {corr2}")
plt.title("Is there any correlation between age and income? ")
plt.xlabel("Income")
plt.ylabel("Age")
plt.legend()
plt.show()

In [ ]:
sns.countplot(x="JobSatisfaction",hue="Attrition",data=df)
plt.xticks([0,1,2,3],['Low','Medium','High','Very High'])
plt.title("Job Satisfaction on Attrition")
plt.show()

In [ ]:
sns.countplot(x="JobInvolvement",hue="Attrition",data=df)
plt.xticks([0,1,2,3],['Low','Medium','High','Very High'])
plt.title("Job Involvement on Attrition")
plt.show()

In [ ]:
sns.countplot(x="Education",hue="Attrition",data=df)
plt.xticks([0,1,2,3,4],["Below College","College","Bachelor","Master","Doctor"])
plt.title("Education Level on Attrition")
plt.show()

In [ ]:
df.select_dtypes(object)

In [ ]:
df.groupby("Department").mean()["Attrition"].multiply(100).plot.barh()
plt.title("Attrition rate per department")
plt.legend()
plt.show()

In [ ]:
sns.catplot(x="Attrition",kind="count",col="Gender",data=df)

In [ ]:
df.groupby("JobRole").mean()["Attrition"].multiply(100).plot.barh()

In [ ]:
ohe_cols = list(df.select_dtypes(object).columns)

df = pd.get_dummies(df,columns=ohe_cols,drop_first=True)
df.head()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
X = df.drop("Attrition",axis=1).values
y = df["Attrition"].values
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)
scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
rf = RandomForestClassifier(random_state=0)
knn = KNeighborsClassifier()
log = LogisticRegression()
xgb = XGBClassifier(random_state=0)

for i in [rf, knn, log, xgb]:
    cv = cross_val_score(i,X_train,y_train,cv=5)
    print(f"CV score of {str(i)} : {cv.mean()}")

In [ ]:
log_params = {"penalty" : ["l1", "l2", "elasticnet", "none"],
              "C" : [0.1,1,10]}
gs1 = GridSearchCV(log,param_grid=log_params,cv=5)
gs1.fit(X_train,y_train)
print("Best score : ",gs1.best_score_)
print("Best parameters : ",gs1.best_params_)

In [ ]:
rf_params = {"n_estimators" : [100,150,200,250,300],
             "criterion" : ["gini","entropy"],
             "max_features" : ["auto", "sqrt", "log2"],
             "max_depth": list(range(1,11))}

gs2 = GridSearchCV(rf,param_grid=rf_params,cv=5)
gs2.fit(X_train,y_train)
print("Best score : ",gs2.best_score_)
print("Best parameters : ",gs2.best_params_)

In [ ]:
clf = LogisticRegression(C=1,penalty="l2")
clf.fit(X_train,y_train)
prediction = clf.predict(X_test)
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
# In order to labels aren't in similar count the accuracy score is not enough for us.
# We will look at precision, recall scores.

print("Accuracy of test : ",accuracy_score(y_test,prediction))

In [ ]:
plt.figure(figsize=(4,3))
sns.heatmap(confusion_matrix(y_test,prediction),annot=True,cmap="Blues")
plt.title("Confusion Matrix")

In [ ]:
print(classification_report(y_test,prediction))

In [ ]:
#Let's take a look at importance of features
#This will help us to understand the this HR Analysis of Attrition.

feature_imp = list(clf.coef_[0])
features = list(df.drop("Attrition",axis=1).columns)

plt.figure(figsize=(16,10))
plt.barh(list(range(44)),feature_imp,label="Features strength")
plt.yticks(list(range(44)),features)
plt.legend()
plt.show()